@layer reset, base, layout, components, utilities, media-query;
@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  :root {
    --nav-gradient: linear-gradient(to bottom, hsl(220, 35%, 35%), hsl(220, 45%, 45%));
    --bg-gradient: linear-gradient(to bottom, hsl(60, 98%, 98%), hsl(60, 95%, 95%));
    --card-gradient: linear-gradient(to bottom, hsl(0, 99%, 99%), hsl(0, 96%, 96%));
    --past-card-gradient: linear-gradient(to bottom, hsl(200, 99%, 99%), hsl(200, 94%, 94%));
    --card-club-art-border: 6px solid var(--pink);
    --card-club-science-border: 6px solid var(--green);
    --card-club-sports-border: 6px solid var(--red);
    --card-club-culture-border: 6px solid var(--purple);
    --card-club-humanities-border: 6px solid var(--orange);
    --card-club-fundraiser-border: 6px solid var(--yellow);
    --card-club-school-border: 6px solid var(--blue);
    --misc-border: 2px solid hsl(0, 0%, 40%);
    --border-radius: 8px;
    --button-border-radius: 4px;
    --card-hover: translateY(-2px);
    --card-transition: transform 0.2s ease;
    --color-transition: background-color 0.2s ease;
    --nav-item-hover: hsl(220, 50%, 50%);
    --nav-item-active: linear-gradient(to top, hsl(215, 50%, 50%), hsl(215, 40%, 40%));
    --dark: hsl(0, 0%, 25%);
    --light: hsl(0, 0%, 90%);
    --red: hsl(0, 60%, 60%);
    --orange: hsl(30, 60%, 60%);
    --yellow: hsl(60, 60%, 60%);
    --green: hsl(100, 60%, 60%);
    --blue: hsl(200, 60%, 60%);
    --dull-blue: hsl(210, 50%, 50%);
    --purple: hsl(250, 60%, 60%);
    --pink: hsl(300, 60%, 60%);
    --button-shadow: -2px 2px 4px hsl(220, 20%, 20%);
    --shadow: -2px 2px 5px var(--dark);
  }
}
@layer base {
  h1,
  h2,
  h3,
  a,
  span,
  p,
  li {
    color: var(--dark);
  }
  h1 {
    margin-top: clamp(0.8rem, 6vh, 1.5rem);
    margin-bottom: clamp(0.8rem, 6vh, 1.5rem);
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    line-height: 1.2;
  }
  h2 {
    margin-top: clamp(0.3rem, 2.5vh, 0.6rem);
    margin-bottom: clamp(0.5rem, 5vh, 1.2rem);
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    line-height: 1.2;
  }
  h3 {
    margin-top: clamp(0.3rem, 2.5vh, 0.6rem);
    margin-bottom: clamp(0.3rem, 2.5vh, 0.6rem);
    font-size: clamp(1.2rem, 3vw, 1.4rem);
    line-height: 1.2;
  }
  a,
  span {
    display: inline-block;
    line-height: 1.2;
    font-size: clamp(1rem, 2.5vw, 1.1rem);
  }
  p,
  li {
    line-height: 1.6;
    font-size: clamp(1rem, 2.5vw, 1.1rem);
  }
}

@layer layout {
  main {
    background-image: var(--bg-gradient);
  }
  .container {
    max-width: min(1100px, 90%);
    margin: auto;
  }
  .home-container {
    display: flex;
    flex-direction: column;
  }
  .home-info {
    display: flex;
    flex-direction: row;
    border: 4px solid var(--red);
    border-collapse: collapse;
  }
  @media screen and (max-width: 600px) {
    .home-info {
      flex-direction: column;
    }
  }
  .home-announcements {
    flex: 1;
    padding: 1rem 2rem 2rem 2rem;
    border: 4px solid var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-announcements > * {
    max-width: fit-content;
  }
  .home-highlights {
    flex: 1;
    padding: 1rem 2rem 2rem 2rem;
    border: 4px solid var(--blue);
    border-left: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 600px) {
    .home-highlights {
      border-left: 4px solid var(--blue);
      border-top: none;
    }
  }
  .home-highlights > * {
    max-width: fit-content;
  }
  .home-memories {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 600px) {
    .home-memories {
      flex-direction: column;
      width: 100%;
    }
  }
  header {
    display: flex;
    flex-direction: row;
    padding: clamp(0.1rem, 2vh, 1rem) clamp(0.1rem, 1.5vw, 1rem);
    justify-content: center;
    align-items: center;
    background-image: var(--nav-gradient);
    gap: 0.5rem;
    box-shadow:
      0 2px 8px var(--dull-blue),
      0 3px 10px var(--red),
      0 4px 12px var(--yellow);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  @media screen and (max-width: 1024px) {
    header {
      flex-wrap: wrap;
    }
  }
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    margin-left: 2rem;
  }
  @media screen and (max-width: 1024px) {
    .nav-bar {
      margin: 0;
    }
  }
  .grid {
    display: grid;
  }
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  @media screen and (max-width: 1024px) {
    .event-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    .event-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  .club-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  @media screen and (max-width: 1024px) {
    .club-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media screen and (max-width: 600px) {
    .club-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
    }
  }
  .event-head {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  @media screen and (max-width: 1024px) {
    .event-head {
      flex-direction: column;
      margin-bottom: 1rem;
    }
  }
  .event-header {
    display: flex;
    font-size: 1rem;
    flex: 1;
  }
  @media screen and (max-width: 1024px) {
    .event-header {
      flex: none;
      margin: 0;
      padding: 0;
    }
  }
  .event-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: auto;
  }
  @media screen and (max-width: 1024px) {
    .event-next {
      align-items: flex-start;
      flex: none;
      margin: 0;
    }
  }
  .card {
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    transition: transform 0.2s ease;
    border: 2px solid hsl(0, 0%, 40%);
    overflow: hidden;
  }
  .club-card {
    padding: 0 0.5rem 0.5rem 0.5rem;
    background-image: var(--card-gradient);
  }
  .schedules {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 3rem;
  }
  @media screen and (max-width: 1024px) {
    .schedules {
      flex-direction: column;
    }
  }
  .schedule-buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    padding-top: 3rem;
  }
  @media screen and (max-width: 1024px) {
    .schedule-buttons {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  .schedule-container {
    max-width: min(1000px, 90%);
    position: relative;
  }
  .schedule-container > h1 {
    margin-bottom: 0;
    width: 50%;
  }
  @media screen and (max-width: 1024px) {
    .schedule-container > h1 {
      width: 100%;
      margin-bottom: clamp(0.8rem, 6vh, 1.5rem);
    }
  }
  .schedule-table-area {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    padding-top: 1rem;
  }
  .resources-sections {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  @media screen and (max-width: 600px) {
    .resources-sections {
      flex-direction: column;
      max-width: fit-content;
    }
  }
  .resources-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--dull-blue);
    padding: 1rem;
    gap: clamp(0.5rem, 3vh, 1rem);
  }
  .floor-plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@layer components {
  .home-memory {
    height: 200px;
    width: 20%;
    object-fit: cover;
    border: 4px solid var(--dull-blue);
    margin: -2px;
  }
  @media screen and (max-width: 600px) {
    .home-memory {
      height: 150px;
      width: 100%;
    }
  }
  .nav-button {
    background-color: transparent;
    padding: clamp(0.25rem, 2vw, 1rem);
    color: var(--light);
    text-decoration: none;
    transition: var(--color-transition);
    box-shadow: var(--button-shadow);
    border-radius: var(--button-border-radius);
  }
  .next-event-card {
    transform: scale(1.2);
    box-shadow:
      var(--shadow),
      0 0 1rem hsl(55, 90%, 75%);
  }
  @media screen and (max-width: 1024px) {
    .next-event-card {
      transform: scale(1);
    }
  }
  .event-card:not(.past-event-card) {
    background-image: var(--card-gradient);
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .past-event-card {
    display: flex;
    flex-direction: row;
    background-image: var(--past-card-gradient);
  }
  .card-img {
    height: 100%;
    flex: 2;
  }
  .card-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .event-card-info {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1% 5%;
  }
  .art-club {
    border-left: var(--card-club-art-border);
    background-color: var(--pink);
  }
  .culture-club {
    border-left: var(--card-club-culture-border);
    background-color: var(--purple);
  }
  .fundraiser-club {
    border-left: var(--card-club-fundraiser-border);
    background-color: var(--yellow);
  }
  .humanities-club {
    border-left: var(--card-club-humanities-border);
    background-color: var(--orange);
  }
  .school-club {
    border-left: var(--card-club-school-border);
    background-color: var(--blue);
  }
  .stem-club {
    border-left: var(--card-club-science-border);
    background-color: var(--green);
  }
  .sports-club {
    border-left: var(--card-club-sports-border);
    background-color: var(--red);
  }
  .club-legend-card {
    width: 1rem;
    height: 1rem;
    border-radius: var(--button-border-radius);
  }
  .club-legend {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  @media screen and (max-width: 1024px) {
    .club-legend {
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
  .schedule-button {
    max-width: fit-content;
    transform: scale(1.2);
    padding: 0.25rem;
    border: 2px solid var(--dull-blue);
    border-radius: var(--button-border-radius);
    box-shadow: var(--button-shadow);
    background-color: hsl(0, 98%, 98%);
    transition: background-color 0.2s ease;
  }
  .schedule-button:hover {
    background-color: hsl(0, 93%, 93%);
  }
  .schedule-table-div {
    width: 85%;
  }
  .schedule-table {
    border-collapse: collapse;
    width: 100%;
    border: none;
  }
  .active-schedule .schedule-table-div > tr,
  th,
  td {
    border: 2px solid var(--dark);
    padding: 0.5rem;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .active-schedule .schedule-table-div > tr,
    th,
    td {
      padding: 0.25rem;
    }
  }
  .schedule-table-div:not(.active-schedule) {
    display: none;
  }
  .active-chosen-schedule {
    text-align: center;
    text-wrap: nowrap;
    width: 70%;
  }
  .chosen-schedule:not(.active-chosen-schedule) {
    display: none;
  }
  .icon {
    height: 3rem;
  }
  @media screen and (max-width: 1024px) {
    .icon {
      height: 2rem;
    }
  }
  .floor-plan-container > h1 {
    font-size: 2rem;
    margin: 1rem;
  }
  .floor-plan-container > img {
    border: 4px solid var(--dull-blue);
    margin-bottom: 1rem;
  }
  @media screen and (max-width: 600px) {
    .floor-plan {
      transform: scale(0.9);
    }
  }
}
@layer utilities {
  .nav-button:hover {
    background-color: var(--nav-item-hover);
  }
  .active {
    background-image: var(--nav-item-active);
    pointer-events: none;
  }
  header > span,
  header > a {
    font-size: 1.2rem;
    color: var(--light);
  }
  .card:not(.next-event-card):hover {
    transform: translateY(-2px);
  }
  .active-schedule-button {
    border: 2px solid var(--orange);
    background-image: var(--past-card-gradient);
  }
}
