body {
    background-color: hsl(0,100%,90%);
}
h1 {
    color: hsl(200,100%,20%);
}
p, span, div {
    padding: 15px;
}
p {
    color: hsl(40, 100%, 80%);
    background-color: hsl(200, 100%, 20%);
    width: fit-content;
    margin-bottom: 0;
}
span {
    color: hsl(200, 100%, 20%);
    background-color: hsl(40,100%,80%);
}
div {
    color: hsl(120, 100%, 80%);
    background-color: hsl(0,100%,30%);
    width: fit-content;
}