body {
  background-color: azure;
}
.list > li {
  margin: 10px;
}
code {
  display: block;
  background-color: lightgray;
  width: fit-content;
  padding: 0 15px;
}
img {
  height: 200px;
  display: block;
}
.img-proto2 {
  clip-path: inset(0px 10px 0px 0px); 
}
